$page-bg: #000;

/************* 
Base
**************/

html, body{
  counter-reset: hit;
  width:100%;
  height:100%;
  box-sizing:border-box;
  background:$page-bg;
}

*, *:before, *:after{
  box-sizing:border-box;
}

input{
       @extend .fg-crosshairs;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    appearance: none;
  &:focus {
    outline: none;
    appearance: none;
  }
}

a{
  color:red;
  text-decoration: none; 
}


.game-header{
  padding:20px;
  font-size:30px;
  font-weight:bolder;
}

.game-header::after {
  content: counter(hit);
}

.fg-crosshairs {
    cursor: url('./assets/fg-cursor.png') 44 44, auto;
}
.game-row{
position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
  width:100vw;
  height:200px;
  // border-bottom: 5px solid brown;
  overflow: hidden;
  perspective: 1000px;
    align-items: flex-end;
}

.duck-row{
    @extend .fg-crosshairs;
  display:flex;
  flex-wrap:nowrap;
       overflow: hidden;

//   margin-left: -100vw;
  transform: translate3d(-100vw, 0, 0);
  width:100vw;
  height:200px;
  transform-style: preserve-3d;
  animation: move 10s linear forwards 1;
  animation-iteration-count: infinite;
      align-items: flex-end;
//   &--two{
//     margin-left: 2000px;
//     animation: move2 15s linear forwards .3s 1;
//   }
//   &--three{
//     animation: move 14s linear forwards 3s 1;
//   }
  &__box{
    // margin-top:50px;
    // margin-right:100px;
    @extend .fg-crosshairs;
    width: 72px;
    height: 80.85px;
    position: relative;
 
    // &--reverse{
    //   transform: rotateY(180deg);
    // }
  }
  &__img{
    @extend .fg-crosshairs;
    width: 72px;
    height: 80.85px;
    // margin-top: -150px;
    background:url('./assets/fg-duck.png');
    background-size:contain;
    transition:all .2s;
  }
}


// .game-over{
//   position:absolute;
//   top:100px;
//   right:0;
//   left:0;
//   margin-right: auto;
//   margin-left: auto;
//   width:800px;
//   height:479px;
//   background:white;
//   font-size:30px;
//   background:url(https://s-media-cache-ak0.pinimg.com/736x/d9/a7/fc/d9a7fc470357f881adb27b0ed507f94d.jpg), red;
//   background-size:cover;
//   background-repeat:no-repeat;
//   .game-txt{
//     position:absolute;
//     top:190px;
//     width:100%;
//     height:60px;
//     h1{
//       font-size:70px;
//     }
//   }
// }

// .game-score::after {
//   content: counter(hit);
// }



/************* 
States
**************/

input:checked {
  counter-increment: hit;
  &:after{
    content:"BANG!";
    position:relative;
    top: 10px; 
    left:0;
    right: 0;
    padding:10px;
    width:75px;
    height:75px;
    z-index:5;
    color: rgb(239, 196, 0);
    font-size:12px;
    // background:rgba(black, .6);
    // border-radius:50%;
    animation: hit 2s forwards;
    
  }
  & ~.duck-row__img{
    // background:url(http://cliparts.co/cliparts/zcX/oqo/zcXoqorgi.png);
    // background-size:contain;
    background: none;
    &:after{
      content:"";
      position:absolute;
      top:20;
      left:500;
      width:inherit;
      height:inherit;
    }
  }
}



@keyframes move {
  0%{
    //   margin-left: -4000px;
    transform: translate3d(-100vw, 0, 0);
    }
  100%{
    // margin-left:2500px;
   transform: translate3d(100vw, 0, 0);
   }
}

// @keyframes move2 {
//   0%{margin-left: 2000px;}
//   100%{margin-left:-4000px;}
// }


@keyframes flow{
  0%{left:80px;}
  50%{left:65px}
}

@keyframes hit{
  0%{top: 10px;}
  100%{
    top:-100px;
    display: none;
    opacity: 0;
  }
}
