$page-bg: #000;

/************* 
Base
**************/

// 1920px: styles applied to screens 1920px wide and above
// 1440px: styles applied to screens 1440px wide and above
// 1280px: styles applied to screens 1280px wide and above
// Desktop (base): styles apply to all devices unless overridden at other device breakpoints
// Tablet: styles applied to screens 991px wide and below
// Mobile landscape: styles applied to screens 767px wide and below
// Mobile portrait: styles applied to screens 478px wide and below

// mobile
$breakpoint-sm: 767px; // tablet
$breakpoint-md: 768px; // desktop
$breakpoint-lg: 768px; // desktop large

// usage tablet
// @media (min-width: $breakpoint-sm) {
  
// }

@mixin duck-sm {
    width: 72px;
    height: 80.85px;
}
@mixin dark-lg {
  margin: 0;
  padding: 0;
  list-style: none;
}


html, body{
  counter-reset: hit;
  width:100%;
  height:100%;
  box-sizing:border-box;

}

*, *:before, *:after{
  box-sizing:border-box;
}

input.duck-row__duck{
    @extend .fg-crosshairs;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 72px;
    height: 80.85px;
    appearance: none;
  &:focus {
    outline: none;
    appearance: none;
  }
}

a{
  color:red;
  text-decoration: none; 
}


.fg-crosshairs {
    cursor: url('./assets/fg-cursor.png') 44 44, auto;
}
.game-row{
  
    background:$page-bg;
position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
  width:100vw;
  height:200px;
  // border-bottom: 5px solid brown;
  overflow: hidden;
  perspective: 1000px;
    align-items: flex-end;
}

.duck-row{
  @extend .fg-crosshairs;
  display:flex;
  flex-wrap:wrap;
  overflow: hidden;

//   margin-left: -100vw;
  transform: translate3d(-100vw, 0, 0);
  width:100vw;
  height:200px;
  transform-style: preserve-3d;
  animation: move 10s linear forwards 1;
  animation-iteration-count: infinite;
    align-items: flex-end;
    position: absolute;
    bottom: -80.48px * 2;
    @media (min-width: $breakpoint-sm) {
    bottom: -80.48px;
    }
    @media (min-width: $breakpoint-md) {
    bottom: -80.48px;
    }
//   &--two{
//     margin-left: 2000px;
//     animation: move2 15s linear forwards .3s 1;
//   }
//   &--three{
//     animation: move 14s linear forwards 3s 1;
//   }
  &__box{

    @extend .fg-crosshairs;
    width: 72px;
    height: 80.85px;
    position: relative;
 
  }
  &__img{
    @extend .fg-crosshairs;
    width: 72px;
    height: 80.85px;
    // margin-top: -150px;
    background:url('./assets/fg-duck.png');
    background-size:contain;
    transition:all .2s;
  }
}


/************* 
States
**************/

input:checked {
  counter-increment: hit;
  pointer-events: none;
  &:after{
    content:"BANG!";
    position:relative;
    top: 10px; 
    left:0;
    right: 0;
    padding:10px;
    width:75px;
    height:75px;
    z-index:5;
    color: rgb(239, 196, 0);
    font-size:12px;
    text-align: center;
    width:100%;
    // background:rgba(black, .6);
    // border-radius:50%;
    animation: hit 2s forwards;
    
  }
  & ~.duck-row__img{
    background: none;
    &:after{
      content:"";
      position:absolute;
      top:20;
      left:500;
      width:inherit;
      height:inherit;
    }
  }
}



@keyframes move {
  0%{
    //   margin-left: -4000px;
    transform: translate3d(-100vw, 0, 0);
    }
  100%{
    // margin-left:2500px;
   transform: translate3d(100vw, 0, 0);
   }
}

@keyframes flow{
  0%{left:80px;}
  50%{left:65px}
}

@keyframes hit{
  0%{top: 10px;}
  100%{
    top:-100px;
    display: none;
    opacity: 0;
  }
}
